*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: PopRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}

html,
body {
    background: #c9c9c9 !important;
}

.full-screen {
    position: relative !important;
    height: 100vh;
    width: max-width;
}

.jumbotron {
    width: max-width !important;
    height: 30vh;
    padding: 0.8vw 0.8vw !important;
    background-color: #c9c9c9 !important;
}

.jumbotron.text-center {
    position: relative !important;
    height: 100% !important;
    background-color: #383131 !important;
    font-size: 100vw;

    padding-left: 10vw !important;
    padding-right: 8vw !important;
    padding-top: 6vh !important;
    padding-bottom: 0vh !important;

}

.head {
    margin-bottom: 0vh;
    text-align: left;
    color: #d5d6d7;
    font-family: PopRegular;
    font-size: 8%;
    padding-bottom: 0;
}

.head2 {
    margin-top: 0;
    text-align: left;
    color: #c9c9c9;
    font-family: PopLight;
    font-size: 4%;
}

.topnav-right {
    position: absolute;
    top: 20vh !important;
    right: 8vh !important;
    float: right;
    font-size: 5%;
    background-color: #383131 !important;

}

.topnav-right a {
    font-size: 100%;
    font-family: PopLight;
    color: #d5d6d7 !important;
    margin-left: 10vw !important;
}

.topnav-right.sticky {
    position: fixed;
    left: 0% !important;
    top: 1vh !important;
    width: 100vw;
    height: 5vh;

}


.container {
    padding-top: 4vh !important;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
    color: #000000;
    font-size: 100vw;
}

.i1 {
    font-size: 6% !important;
}

.i2 {
    font-size: 3% !important;
}



.social-logo {
    position: absolute;
    width: 30vw;
    height: 15vh;
    bottom: 1vh;
    right: 10vw;
    padding: 1vw;
}

.column {
    display: inline-block;
    
    margin: 0px;
    padding-left: 10%;
    width: 30%;
}

.social-logo.sticky {
    position: fixed;
    width: 6vw;
    height: 22vh;
    bottom: 10vh;
    right: 5vw;
    padding: 1vw;
}

.column.sticky {
    display: inline; 
    margin: 0px;
    padding-left: 10%;
    width: 50%;
}


.content {
    position: absolute;
    top: 100vh;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    color: #000000;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* For tablets: */
    .jumbotron.text-center {
        font-size: 80vw;
    }


}

@media only screen and (min-width:1200px) {
    /* For desktop: */

    .jumbotron.text-center {
        font-size: 30vw;
    }


    .topnav-right {
        font-size: 5%;
        top: 15vh !important;
        right: 8vh !important;
    }

    .i1 {
        font-size: 4% !important;
    }

    .i2 {
        font-size: 2% !important;
    }

    .container {
        padding-left: 17vw !important;
        font-size: 70vw;
    }

    .social-logo {
        width: 15vw;

    }

.social-logo.sticky {
    position: fixed;
    width: 5vw;
    height: 22vh;
    bottom: 10vh;
    right: 5vw;
    padding: 1vw;
}
}